<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка регистрации</title>
    <link rel="stylesheet" href="/style-noti.css">
</head>
<body>
    <div class="noti">
        <div class="notification-container">
            <div class="notification error">
                <h1>Не удалось отправить заявку :(</h1>
                <p>Произошла ошибка при отправке ваших данных. Попробуйте снова.</p>
                <a href="/public/index.html" class="backlink">Попробовать еще раз</a>
            </div>
        </div>
    </div>
    
    
</body>
</html>
