<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешная регистрация</title>
    <link rel="stylesheet" href="/style-noti.css">
</head>
<body>
    <div class="noti">
        <div class="notification-container">
            <div class="notification success">
                <h1>Заявка отправлена!</h1>
                <p>Спасибо, <%= name %>, что выбрали нас.</p>
                <p>Мы свяжемся с вами по телефону: <%= phone %></p>
            </div>
        </div>
    </div>
    
    
</body>
</html>
